.text-white{
    color: $clr-white;
}
.text-purple{
    color: $clr-purple;
}
.text-pink{
    color: $clr-pink;
}
.text-grey-lighter{
    color: $clr-grey-lighter;
}
.text-grey-light{
    color: $clr-grey-light;
}
.text-grey-dark{
    color: $clr-grey-dark;
}
.bg-white{
    color: $clr-white;
}