$clr-white: hsl(0, 0%, 100%);
$clr-purple: hsl(248, 56%, 55%);
$clr-purple-deep: hsl(248, 45%, 51%);
$clr-pink: hsl(345, 100%, 91%);
$clr-pink-deep: hsl(344, 49%, 80%);
$clr-grey-light: hsl(0, 0%, 60%);
$clr-grey-dark: hsl(0, 0%, 20%);
$clr-grey-lighter: hsl(0, 0%, 93%); 